@use "./../partials/palette";

.book-list {
    width: 80%;
    height: auto;
    text-align: left;
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
}

.book-item {
    display: grid;
    grid-template-columns: 130px repeat(1, 1fr);
    align-items: flex-start;
    column-gap: 0.75rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid palette.$tint-light;

    &__title {
        grid-column: 2;
        grid-row: 1 / 2;
    }

    &__author {
        grid-column: 2;
    }

    &__description {
        grid-column: 2;
    }

    &__img {
        grid-row: 1 / span 5;
    }
}
