@use "./../partials/palette";

.modal {
    // display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    &__content {
        width: 60%;
        min-height: 50vh;
        margin: 10% auto;
        padding: 2rem;
        color: palette.$accent-color;
        background-color: palette.$lightest;
        box-shadow: 0 4px 8px 0 rgba(73, 67, 84, 0.2),
            0 6px 20px 0 rgba(73, 67, 84, 0.19);
        border-radius: 2rem;
        display: flex;
        justify-content: space-between;
    }

    &__close {
        display: inline-block;
        font-size: 2.5rem;
        margin-top: -1rem;
    }
}

.publication {
    width: 30%;
}

.detail {
    width: 60%;
}
